@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent;
    font-family: 'Press Start 2P', cursive;
}

#haruki-container {
    position: relative;
    display: inline-block;
}

#speech-bubble {
    position: absolute;
    top: 50px;
    right: 10px;
    background: rgba(255, 255, 255, 0.75);
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px; 
    font-size: 50px;
    color: black;
    max-width: 600px;
    text-align: center;
}

#speech-bubble::after {
    content: '';
    position: absolute;
    border-style: solid;
    bottom: -65px;
    left: -25px;
    transform: translateY(-50%) rotate(220deg);
    border-width: 50px 25px 5px 0;
    border-color: transparent black transparent transparent;
}